// general colors
$red: #ec1212;
$dark: #141414;
$gray: #292929;
$white: #ffff;
$white: #ffff;
$eggshell: hsla(55, 52%, 96%, 1);
$tan: hsla(34, 60%, 86%, 1);
$coffee: hsla(24, 44%, 53%, 1);
$chocolate: hsla(17, 52%, 25%, 1);
$darkblue: hsla(214, 62%, 21%, 1);
$powderblue: hsla(210, 25%, 86%, 1);
$brightblue: hsla(214, 92%, 42%, 1);

// sections and components
$background: black;
$card-background: black;
$alert-bar-background: red;
$footer-background: black;
