.footer-logo {
  display: block;
  margin: auto;
  width: clamp(100px, 50vw, 400px);
}

.footer-lead-text {
  text-align: center;
  display: block;
  margin: auto;
  a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 700;
    justify-content: center;
    place-items: center;
    text-decoration: none;
    text-transform: uppercase;
    span {
      font-size: 1.2em;
      // @include media(">medium") {
      //   font-size: 3em;
      // }
    }
    span:nth-child(2),
    span:nth-child(8) {
      color: $white;
    }
  }
}

.site-footer {
  padding-top: 1rem;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-weight: 700;
    font-size: 1.5em;
    padding: 0;
    a {
      color: $dark;
      transition: all 0.4s ease;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: $white;
      }
    }
  }
}

.site-footer__inner {
  background-color: $coffee;
  border-top-left-radius: $border-radius-rounded;
  border-top-right-radius: $border-radius-rounded;
  padding: 24px;
}
