.layout-wrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
// .navbar {
//   display: block;
//   grid-column: 1 / 2;
// }

// footer {
//   grid-column: 1 / 4;
// }


.container {
  --container-width: min(100vw - 20px, clamp(500px, 92vw, 1400px));
  width: calc(100% - 40px);
  width: var(--container-width);
  max-width: 100%;
  margin: auto;
}