

.index-page section {
  padding: 42px 24px;
  width: 100%;
  margin: 24px auto;
  background-color: $tan;
  border-radius: 45px;
}

.front-page__columns {
    @media (min-width: 500px) {
       display: grid;
       grid-template-columns: 1.2fr 1fr; 
       gap: 40px;
    }
}